html,
body {
    position: relative;
    height: 100%;
    background: #eee;
}
.swiper {
    width: 1000px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
}

.swiper-slide {
    width: 20px;
    text-align: center;
    font-size: 18px;
    background: #fff;
}